*:focus,*:hover{
    outline:none;
}

*{
    margin:0;
    background-color:orange;
}

.quoteWrapper {
    height: 100vh;
    display: flex; 
    justify-content: center;  
    align-items: center;

}

.quoteContainer {
    height: 40vh;
    width:50%;
    background-color:blue; 
    border-radius: 20px; 
    border: dotted 5px pink;
    display: flex; 
    justify-content: space-around;  
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

button {
    height: 3pc;
    width: 9pc;
    font-size: auto;
    border-radius: 10px;
    border: 3px black solid;
    background-color: grey; 
}

button:hover{
    background-color: palevioletred;
    transition-duration: 0.5s;
    box-shadow: 0pc 0pc 5pc 5px rgb(224, 32, 96);
}
p {
    padding: 2% 8% 2% 8%;
    font-size: 2vw;
    font-style: italic;;
    background-color: transparent;
}

h1 {
    font-size: 1.2vw;
    font-style: italic;
    background-color: transparent;
    margin-left:auto; margin-right:8%;
}

